#bd {
    background:linear-gradient(#46d4ff,#ffffff );
    display: block;
    background-size: 110vw 100vh;;
    background-repeat: no-repeat; 
    background-position: 0% 0%;

}
.title-1{
    display:flex;
    font-size: 30px;
    align-items:center;
    justify-content:center;
}
#obl-goroda{
    display: block;
    background:#ffffff;
    border: 3px solid #000;
    border-radius:12px;
    padding:28px;
    font-size:16px;
    margin: 4% auto;
    position: relative;
    box-sizing: border-box; 

    width: 660px;
    height: 675px;
}
.obl_gor{
    position: absolute;        
    height: 36px;              
    line-height: 36px;         
    font-size: 13px;             
    text-align: center;
    box-sizing: border-box;
    margin: 0;                  
    border: 2px solid #000;
    border-radius:20px;
    padding: 0 10px;            
    background-color: #7ef07e;
    cursor: pointer;

}
#minsk{
    position: absolute;
    top: 53%;
    left: 40%;
    font-size: 30px;
}
#gomel{
    position: absolute;
    top: 75.5%;
    left: 70%;
    font-size: 30px;

}
#mogilev{
    position: absolute;
    top: 54%;
    left: 68%;
    font-size: 30px;

}
#vitebsk{
    position: absolute;
    top: 30%;
    left: 58%;
    font-size: 30px;

}
#grodno{
    position: absolute;
    top: 54.5%;
    left: 12.5%;
    font-size: 30px;

}
#brest{
    position: absolute;
    top: 75%;
    left: 10%;
    font-size: 30px;

}
.coord{
    width: 600px;               
    height: 300px;             
    margin: 18px auto;          
    padding: 16px;
    box-sizing: border-box;
    background: #e4fffd;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(18,38,63,0.08);
    border: 3px solid #000;
    position: relative;        
    overflow: visible;
    display: block;
}
#lat, #lon{
    border-radius:4px;
    border: 2px solid #000;
}
#pogodaBtn{
    margin-top: 2%;
    background-color: #e1eef8;
    border-radius:4px;
}
.resultat{
    margin: 4% auto;
    position: relative;
    box-sizing: border-box; 
    max-width: 800px;
    max-height: 900px;
    min-width: 800px;
    min-height: 400px;
    border-radius:12px;
    padding:16px;
    margin-top:8px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}
/* .BELARUS{} */
#imgG{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;    
    height: 80%;
    border: 3px solid #000;
    border-radius:12px;
}
.rg_gor{

    position: absolute;
    font-size: 10px;
    color: #000000;
    text-decoration: none;
}

.data_wh{
    margin-left: 40%;
    margin-bottom: 20%;

}
/* gomel */
#br{
    top: 74%;
    left: 60%;
}
#buda{
    top: 32%;
    left: 63%;
}
#vetka{
    top: 30%;
    left: 77%;
}
#gom{
    top: 51%;
    left: 71%;
}
#dobrush{
    top: 50%;
    left: 81%;
}
#elsk{
    top: 73%;
    left: 35%;
}
#zhit{
    top: 46%;
    left: 12%;
}
#zhlobin{
    top: 26%;
    left: 54%;
}
#kalin{
    top: 49%;
    left: 42%;
}
#korm{
    top: 14%;
    left: 69%;
}
#lel{
    top: 69%;
    left: 19%;
}
#loev{
    top: 61%;
    left: 67%;
}
#moz{
    top: 61%;
    left: 37%;
}
#narovl{
    top: 78%;
    left: 45%;
}
#oktyabr{
    top: 34%;
    left: 34%;
}
#petr{
    top: 49%;
    left: 27%;
}
#rech{
    top: 45%;
    left: 58%;
}
#rogach{
    top: 12%;
    left: 58%;
}
#svetl{
    top: 36%;
    left: 46%;
}
#hoyniki{
    top: 68%;
    left: 51.5%;
}
#chechersk{
    top: 21%;
    left: 74%;
}

/* brest */
#baran{
    top: 12%;
    left: 55%;
}
#berezov{
    top: 45%;
    left: 38%;
}
#brestsk{
    top: 65%;
    left: 17.5%;   
}
#gantsevich{
    top: 38%;
    left: 65%;       
}
#drogich{
    top: 60%;
    left: 38.5%;
}
#zhabink{
    top: 60%;
    left: 20%;   
}
#ivan{
    top: 58%;
    left: 50%;   
}
#ivatsevich{
    top: 38%;
    left: 50%;     
}
#kamenetsk{
    top: 48%;
    left: 13%;   
}
#kobrinsk{
    top: 55%;
    left: 28%;   
}
#luninetsk{
    top: 50%;
    left: 74%;  
}
#liahovich{
    top: 28%;
    left: 59.5%; 
}
#maloritsk{
    top: 76%;
    left: 20%; 
}
#pinsk{
    top: 60%;
    left: 62%;    
}
#pruzhansk{
    top: 40%;
    left: 25%; 
}
#stolinsk{
    top: 70%;
    left: 75%; 
}

/* minsk */
#berezenski{
    top: 45%;
    left: 75%;     
}
#borisovsk{
    top: 30%;
    left: 63%; 
}
#vileiski{
    top: 22%;
    left: 30%; 
}
#volozhinski{
    top: 37%;
    left: 22%; 
}
#dzherzhinsk{
    top: 46%;
    left: 32%; 
}
#kletsk{
    top: 70%;
    left: 22%;     
}
#kopilsk{
    top: 64%;
    left: 31%;        
}
#krupsk{
    top: 23%;
    left: 78%;    
}
#logoiski{
    top: 25%;
    left: 48%;    
}
#lubansk{
    top: 77%;
    left: 55%;    
}
#minski{
    top: 40%;
    left: 43%;    
}
#molodechnensk{
    top: 28%;
    left: 24%;    
}
#miadelsk{
    top: 9%;
    left: 27%;    
}
#nesvizh{
    top: 66%;
    left: 19.5%;    
}
#puhovichsk{
    top: 57%;
    left: 50%;    
}
#slutsk{
    top: 67%;
    left: 42%;    
}
#smolevichsk{
    top: 36%;
    left: 55%;    
}
#soligorsk{
    top: 79%;
    left: 37%;    
}
#starodorozhsk{
    top: 64%;
    left: 55.5%;    
}
#stolbtsovsk{
    top: 43%;
    left: 19%;    
}
#uzdensk{
    top: 51%;
    left: 36%;    
}
#chervensk{
    top: 42%;
    left: 61%;    
}
/* mogilev */