<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css?v=2">
</head>
<body id="bd">
    <section id="obl-goroda">
        <p class="title-1">Погода в Беларуси</p>
        <img class="BELARUS" src="/imgs/belarus.jpg" alt="">
        <div class="cities">
            <a class="rg_gor" id="gomel" role="button" href="/gomel">Гомель</a>
            <a class="rg_gor" id="minsk" role="button" href="/minsk">Минск</a>
            <a class="rg_gor" id="mogilev" role="button" href="/mogilev">Могилев</a>
            <a class="rg_gor" id="vitebsk" role="button" href="/vitebsk">Витебск</a>
            <a class="rg_gor" id="grodno" role="button" href="/grodno">Гродно</a>
            <a class="rg_gor" id="brest" role="button" href="/brest">Брест</a>
        </div>
    </section>

    <div id="but-coord">
        

</body>
</html>